<!DOCTYPE html>
<html>
<head>
    <title>Список из 15 книг отсортированных по дате сохранения в базу:</title>
</head>
<body>
<h1>Список из 15 книг отсортированных по дате сохранения в базу</h1>
<ul>
    {%for book in books%}
    <li>
        <b>Название:</b> {{book.title}}
        <b>Автор:</b> {{book.author}}
        <b>Дата публикации:</b> {{book.publication_date}}
        <b>Аннотация:</b> {{book.annotation}}
        <b>Жанр:</b> {{book.genre_name}}
        <a href="{{ url_for('print_books_by_genre', genre_id=book.genre_id) }}">{{ book.genre_name }}</a>
        <b>Прочитана:</b> {{book.is_read}}
    </li>
    {%endfor%}
</ul>
</body>
</html>
#